@model IEnumerable<Mvc21BITV01MidTest.Data.TrangThai>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTrangThai">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTrangThai">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTrangThai">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
